// Custom overrides

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

.card__icon {
  margin-right: 1rem;
  color: rgba(black, 0.8);
  font-size: 1.75rem;
}

.github {
  color: #211F1F;

  &:hover {
    color: lighten(#211F1F, 25%)
  }
}

.vimeo {
  color: #1ab7ea;

  &:hover {
    color: darken(#1ab7ea, 15%)
  }
}

// Set your brand colors
$brand-primary: hsla(202, 66%, 39%, 1);
$brand-info: hsl(204, 71%, 53%);
$brand-success: hsla(164, 95%, 43%, 1);
$brand-warning: hsla(42, 100%, 70%, 1);
$brand-danger: hsla(346, 84%, 61%, 1);

// Bulma variables - https://bulma.io/documentation/customize/variables/

// Update Bulma's global derived variables
$primary: $brand-primary;
//$info: lighten($brand-success, 25%);
$success: $brand-success;
$warning: $brand-warning;
$danger: $brand-danger;
$link: $brand-primary;
$link-visited: hsl(271, 100%, 71%);
//$link-hover: darken($brilliant_azure, 75%);
$link-focus: hsl(0, 0%, 21%);
$link-active: hsl(0, 0%, 21%);

// Generic variables
$body-background-color: hsl(0, 0%, 97%) ;
//$body-family: ;


// Import only what you need from Bulma
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/form/_all";
@import "~bulma/sass/components/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/layout/_all";
